<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodSaver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBDC8A902C40A8570043839D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBDC8AA02C40A85B0043839D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBDC8AAA2C40A85B0043839D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
